// Bootstrap
@import '~bootstrap/scss/bootstrap';

.progress {
    height: 2rem;
    .progress-bar {
        color: #dc3545;
        overflow: initial;
    }

}

.work-content {
    top: 50%;
    position: absolute;
    margin-top: -100px;
    width: 100%;
    text-align: center !important;
    .answer-buttons {
        margin-left: 25px;
    }
}
