@tailwind base;
@tailwind components;
@tailwind utilities;

.full-height {
    min-height: 100vh;
}

.charts-pie {
    .inner {
        min-width: 400px;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
            /* initial ratio of 1:1*/
        }
    }

    .ratio16_9:before {
        padding-top: 56.25%;
    }
}

.dot {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    display: inline-block;
}
